@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
<h3>FIB - Faculdades Integradas de Bauru</h3>
<h4>MBA em Engenharia de Software</h4>
<p><b>Disciplina: </b>.NET Avançado</p>
<p><b>Professor: </b>Victor de Assis Rodrigues</p>
<p><b>Projeto: </b>Biblioteca Virtual</p>
