@model BibliotecaMVC.Models.Autor

@{
    ViewData["Title"] = "Autores";
}

<h2>Autor</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutorID">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>